{% extends "base.html" %}
{% load static %}

{% block csslink %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}"/>
{% endblock %}

{% block mainbody %}

<div class="multi-column-box" id="body">
    <div class="body-item" id="side-box">
        <h3>Welcome {{user}}</h3>
        <div class="user-icon-image">
            <img src="{% static user_icon %}" width="50%"></img>
        </div>
        You have signed in
        <ul>
            <li> as: {{user}}</li>
            <li> from: {{client_ip}}</li>
            <li> using: {{browser_type}}</li>
        </ul>
    </div>
    <div class="body-item" id="main-box">
        <h2> Home </h2>
        <p> Welcome to the minimal demo project of clinical data service. </p>
        <p> This mini project provides the following features: </p>
        <h3> User accounts management</h3>
        <p> Django's build-in account management system is used. The administrator can add/delete/change user accounts using the <a href="/admin">/admin</a> tool. </p>
        <h3> Adding Patients Data to the Database </h3>
        <p> Patients data are stored in the sqlite database. User needs to sign-in before adding or viewing patients data. Patients data can be
            added by using the <a href="/add-data">/add-data</a> tab. User input is validated upon submitting. </p>
        <h3> Viewing Patients Data </h3>
        <p> User needs to sign-in to view patients data. Patients data are displayed as a plain table in the <a href="/view-data">/view-data</a> tab. Because of limited time for
            implementation, there is no statistics/filtering/sorting features. </p>
    </div>
</div>

{% endblock %}
