<!-- templates/registration/login.html -->
{% extends "base.html" %}
{% load static %}

{% block csslink %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}"/>
{% endblock %}

{% block mainbody %}
<div>
     <div id="xmas-header">
         <img src="{% static 'christmas-header.jpg' %}" width=90%></img>
     </div>
     <div id="login-form">
       <h2>Login</h2>
       <form method="post">
         {% csrf_token %}
         {{ form.as_p }}
         <button type="submit">Login</button>
       </form>
     </div>
</div>
{% endblock %}

